/* Enter animation */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

/* Exit animation */
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

@keyframes moving-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #6957dd;
  }
  100% {
    border-color: transparent;
  }
}

.animate-moving-border {
  animation: moving-border 3s linear infinite;
}
